{{> layout/header}}

<div class="container p-5">
	<div class="card">
		<div class="card-header"><b>익명 글수정 화면입니다</b></div>
		<div class="card-body">
			<form action="#">
				<input type="hidden" id="boardId" value="{{boardId}}"/>
				<div class="mb-3">
					<input type="text" class="form-control" placeholder="Enter author" id="author">
				</div>
				<div class="mb-3">
					<input type="text" class="form-control" placeholder="Enter title" id="title">
				</div>
				<div class="mb-3">
					<textarea class="form-control" rows="5" id="content"></textarea>
				</div>
				<button type="button" onclick="put1()" class="btn btn-primary form-control">글수정완료</button>
			</form>
		</div>
	</div>
</div>

<script>
	let boardId = document.querySelector("#boardId").value; // html에 있는 id가져오는 방법
	let boardId2 = getCookie("boardId"); // 쿠키에서 id가져오는 방법

	let inputAuthor = document.querySelector("#author");
	let inputTitle = document.querySelector("#title");
	let inputContent = document.querySelector("#content");

	// 책임: 통신
	async function put1() {
		let requestBody = {
			author: inputAuthor.value,
			title: inputTitle.value,
			content: inputContent.value
		}
		let response = await fetch("/api/boards/" + boardId, {
			method: "put",
			headers: {"Content-Type": "application/json"},
			body: JSON.stringify(requestBody)
		});

		let responseBody = await response.json();

		location.href = "/"
	}

	// 쿠키에서 key에 대한 값 리턴
	function getCookie(key) {
		const cookies = document.cookie.split('; ');
		for (let cookie of cookies) {
			const [k, v] = cookie.split('=');
			if (k === key) {
				return v;
			}
		}
		return null; // 해당 키가 없으면 null 반환
	}

	// 책임: 통신
	async function init() {
		let response = await fetch("/api/boards/" + boardId);
		let responseBody = await response.json();
		inputAuthor.value = responseBody.body.author;
		inputTitle.value = responseBody.body.title;
		inputContent.value = responseBody.body.content;
	}

	init();
</script>

{{> layout/footer}}